@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* 
Color
header y main: D0CEC1
footer: BBB8A5
letters: FFFFFF
details: A5D272

Tipografía
font-family: 'Poppins', sans-serif;
*/


/* ...................................................HEADER........................................... */

header {
    background-color:#D0CEC1;
    width: 100%;
    height: 100%;
    border-bottom: 0.1rem solid white;
    position: sticky;
    top:0 ;
}


.container-navbar{ /* Contenedor padre */
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: auto;
    height: 6rem;
    margin: 1rem 1rem;
}

.carrito img {
    width: 4rem;
    height: auto;
    margin: 2rem;
}

.container-navbar div ul {
    display: flex;
    column-gap: 8rem;
    list-style: none;
}

.container-navbar div ul li a{
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}





/* ...................................................MAIN........................................... */

main {
    background-color: #D0CEC1;
    background-image: url("../assets/logoMe.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    width: 100%;
    height: 70rem;
}








/* ...................................................FOOTER........................................... */

footer {
    width: 100%;
    height: 7.4rem;
    background-color: #BBB8A5;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.container-footer {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.iconos ul{
    display: flex;
    list-style: none;
    align-items: center;
    column-gap: 2rem;
    margin-right: 1.5rem;
}

.container-footer div h3{
    margin-left: 2rem;
}